<style>
html {
  background-image: url("img/IMG_0190.JPG"); 
  background-position: center;
  background-repeat: no-repeat;
} 
</style>
p {
font-family:"Comic Sans MS", cursive, sans-serif
}

