html {
  background: #FAFAD2;
  background: -webkit-linear-gradient (#A9A9A9, #F8F8FF);
  background:    -moz-linear-gradient (#A9A9A9, #F8F8FF);
  background:         linear-gradient (#A9A9A9, #F8F8FF);
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {margin:0;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4682B4;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #2E8B57;
}
.active {
    background-color: #FF0000;
}
   
